@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Poppins:wght@100;200;300;400&family=REM:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: black;
  }

  
  /*-----------nav-----------*/
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 100%;
  }
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  
  nav .left a {
    width: 18%;
    margin: 20px;
    transition: 0.4s ease;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
    width: 50%;
  }
  nav .left a img{
    border-radius: 50%;
    width:100px;
    margin: 0 20px;
    transition:0.3s ease-in-out;
}
  
  nav .right .link {
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 20px 0 20px;
    font-size: 24px;
    transition: 0.4s ease;
  }
  
  nav .right .link:hover {
    color: rgb(155, 155, 155);
  }
  
  @media (max-width: 1280px) {
    nav .left a {
      width: 25%;
    }
  
    nav .right .link {
      font-size: 18px;
    }
    nav .right .link:hover {
      color: rgb(155, 155, 155);
    }
  }
  .lika-title{
    font-size:32px;
    text-align:center;
    margin-top:30px;
    transition:0.4s ease;
    text-transform:Uppercase;
    font-family:"Nasa", Arial, Helvetica, sans-serif;
    animation:beginAnimationImg 1s ease forwards;
  }
  .info-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:30px 20px 0 0;
    animation:beginAnimationImg 1s ease forwards;
  }
  .info-container .leftbox{
    display:flex;
    align-items:center;
    justify-content:center;
    width:30%;
    margin:5px;
  }
  .info-container .leftbox img{
    width:100%;
    transition:0.6s ease;
    margin:5px;
  }
  .info-container .rightbox{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40%;
    margin:10px;
  }
  .textcontainer{
    display:flex;
    align-items:self-start;
    justify-content:center;
    flex-direction:column;
  }
  .textcontainer .lika-title{
    color:white;
    font-size:65px;
    font-weight:300;
    text-align:left;
    text-transform:uppercase;
    animation:beginAnimationImg 1s ease forwards;
    margin-bottom:10px;
    font-family:"Inconsolate", monospace;
}
.rightbox .textcontainer p{
    color:white;
    font-size:18px;
    font-weight:300;
    text-align:left;
    animation:beginAnimationImg 1s ease forwards;
}
@keyframes beginAnimation{
    0%{
        opacity:0;
        transform:translateY(-100px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
@keyframes beginAnimationImg{
    0%{
        opacity:0;
        transform:translatex(-100px);
    }
    100%{
        opacity:1;
        transform:translatex(0px);
    }
}

@media(max-width:1480px){
    nav .left a{
        width:25%;
    }
    nav .right .link{
        font-size:22px;
    }
    nav .right .link:hover{
        color:rgb(155, 155, 155);
    }
    .textcontainer .lika-title{
        font-size:55px;
    }
    .rightbox .textcontainer p{
        font-size:14px;
    }
}
@media(max-width:1080px){
    .info-container{
        flex-direction:column;
    }
    .info-container .leftbox{
        margin:30px 0 40px 0;
        width:40%;
    }
    .info-container .rightbox{
        width:100%;
    }
    .info-container .rightbox .textcontainer{
        margin:50px;
    }
}

@media(max-width:591px){
    .nav-bar .left a{
        width:50%;
    }
}