@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Poppins:wght@100;200;300;400&family=REM:wght@300&display=swap);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:"poppons",sans-serif;
    background-color:black;
}
.nav-bar{
    width:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:70px;
}
nav img{
    width:100%;
}
.left{
    display:flex;
    align-items:center;
    position:absolute;
    justify-content:left;
    width:70%;
}
nav .left a img{
    border-radius: 50%;
    width:100px;
    margin: 0 20px;
    transition:0.3s ease-in-out;
}
.right{
    display:flex;
    position:relative;
    align-items: center;
    justify-content:center;
    margin: 70px;
    width: 50%;
}
nav .right .link{
    /* align-items:center;
    justify-content:center; */
    color:white;
    text-decoration:none;
    font-weight:300;
    text-transform:Uppercase;
    padding:10px;
    margin:0 20px 0 20px;
    font-size:24px;
    transition:0.4s ease;
}
nav .right .link:hover{
    color:rgb(155, 155, 155);
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.container .leftside{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    flex-direction:column;
}
.container .rightside{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    flex-direction:column;
}
.textcontainer{
    display:flex;
    align-items:self-start;
    justify-content:center;
    flex-direction:column;
}
.container .leftside .bigtext{
    color:white;
    font-size:50px;
    font-weight:600;
    text-align:left;
    text-transform:uppercase;
    margin: 0 55px;
    animation: beginAnimation 1s ease forwards;
}
.container .leftside p{
    color:white;
    text-transform:uppercase;
    font-size:22px;
    font-weight:300;
    text-align:left;
    margin:0 55px;
    animation: beginAnimation 1s ease forwards;
}
.container .rightside img{
    filter: brightness(95%);
    width:80%;
    animation:beginAnimation 1s ease forwards;
    transition: 0.4s ease;
}
.explore-btn{
    text-transform:Uppercase;
    font-size: 22px;
    font-weight:300;
    border:2px solid #717171;
    padding:10px 20px 10px 20px;
    cursor:pointer;
    transition:0.5s ease;
    animation: beginAnimation 1s ease forwards;
    margin:20px 55px;
}
.btn-link{
    text-decoration:none;
    color:white;
    align-self:self-start;
}
.explore-btn:hover{
    color:#ba9494;
    border-color:#ba9494;
    font-size:24px;
}
@keyframes beginAnimation{
    0%{
        opacity:0;
        transform:translatex(-100px);
    }
    100%{
        opacity:1;
        transform:translatex(0px);
    }
}
@media(min-width:1281px)and(max-width:1480px){
    nav .left a{
        width:25%;
    }
    nav .right .link{
        font-size:22px;
    }
    nav .right .link:hover{
        color:rgb(155, 155, 155);
    }
    .container .leftside .bigtext{
        font-size:40px;
    }
    .container .leftside p{
        font-size:18px;
    }
    .container .rightside img{
        width:60%;
    }
}
@media(max-width:1280px){
    .container{
        flex-direction:column;
    }
    .container .leftside{
        margin:30px 0 40px 0;
        width:100%;
    }
    .container .rightside img{
        width:100%;
    }
}
@media(max-width:591px){
    .container{
        flex-direction:column;
    }
    .nav-bar .left a{
        width:50%;
    }
}